@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


.recipe-card_main-container {
    height: 100%;
    padding-top: 70px;
}

.recipe-card {
    width: 630px;
    height: 90%;
    background-color: var(--champagne-pink);
    opacity: 90%;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.block {
    min-width: 8px;
    height: 90%;
    background-color: var(--burnt-umber);
    margin: 10px;
}

.image-container img {
    max-width: 90%;
    height: auto;
    margin-top: 40px;
}

.rating {
    color: var(--burnt-umber);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info_container {
    color: var(--green-secondary);
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    color: black;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
}

.cooking-time_container {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: black;
    display: flex;
    height: 27px;
    margin: 30px;
    align-items: center;
    align-self: flex-end;
}

.cooking-time_container p {
    margin: 10px;
}

.recipe-name {
    align-self: flex-start;
    margin-left: 90px;
}

.mobile-rating {}

@media screen and (max-width: 768px) {
    .recipe-card {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .recipe-card {
        width: 50%;
        background-image: url('../images/pasta_alfredo.jpg');
        background-size: 363px auto;
        background-repeat: no-repeat;
        opacity: 100%;
        width: 363px;
        height: 272px;
        display: flex;
    }

    .recipe-card .block {
        display: none;
    }

    .image-container {
        display: none;
    }

    .info_container {
        background-color: var(--champagne-pink);
        width: 50%;
        height: 90%;
        opacity: 90%;
    }

    .recipe-card_main-container {
        height: 100%;
        padding-top: 0px;
        display: flex;
        justify-content: flex-end;
    }

    .rating {
        display: none;
    }

    .recipe-name {
        font-size: 16px;
        font-weight: normal;
        width: 100px;
        margin: 10px;
        align-self: center;
    }

    .description {
        margin: 10px;
        height: 20%;
    }

    .cooking-time_container img {
        height: 16px;
    }

}