:root {
  --main-color-orange: #FF7A00;
  --burnt-umber: #772E25;
  --green-secondary: #197278;
  --champagne-pink: #EDDDD4;
  --vegan-green: #2EB84C;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

